apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: argo-ui-route
  namespace: "{{ meta.namespace }}"
  labels:
    app: argo  
spec:
  port:
    targetPort: 8001
  to:
    kind: Service
    name: argo-ui
