apiVersion: v1
kind: Service
metadata:
  name: "thrift-server-db"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "thrift-server"
spec:
  ports:
  - name: postgresql
    protocol: TCP
    port: 5432
    targetPort: 5432
    nodePort: 0
  selector:
    name: "thrift-server-db"
  type: ClusterIP
  sessionAffinity: None
