apiVersion: v1 
kind: Secret
metadata:
  name: hue
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
stringData: 
  AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"